# Environment variables
.env
.env.local
.env.*.local

# Vendor directory
/vendor

# Storage directory
/storage

# PHP files
*.php~*.swp
*.php.swp

# IDE files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db